.feedback {
	background: url(../img/feedback-bg.jpg) center center no-repeat;
	background-size: cover;
}

.feedback__container {
	padding: 245px 0 100px 0;
}

.feedback__wrapper {}

.feedback__reviews {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1035px;
	margin-top: 55px;
}

/*news*/
.feedback__info {
	padding: 35px 75px 45px 40px;
	background: #fff;
	flex-basis: 270px;
}

.feedback__name {
	margin-bottom: 20px;
	color: #4ce0ec;
	font-size: 26px;
}

.feedback__date {
	color: #414141;
	font-size: 17px;
}

/*comment*/
.feedback__text {
	align-self: flex-end;
	margin-left: 45px;
	padding-bottom: 17px;
}

.feedback__persons-name {
	font-size: 22px;
	color: #414141;
	margin-bottom: 35px;
}

.feedback__persons-comment {
	font-size: 17px;
	color: #414141;
}

/*buttons*/

.feedback__pointers_wrapper {
	max-width: 265px;
	margin-top: 55px;
}

.feedback__pointers {
	display: flex;
	justify-content: space-between;
}

.feedback__pointer {
	background: #414141;
	width: 10px;
	height: 10px;
	display: inline-block;
	cursor: pointer;
}

.feedback__gallery_checked {
	outline: 5px solid lightblue;
}