/*Fonts Start*/

@font-face {
	font-family: 'Museo Sans Cyrl 900';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: local('MuseoSansCyrl-900'),
		url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: local('MuseoSansCyrl-700'),
		url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('../fonts/MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
		url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: local('MuseoSansCyrl-300'),
		url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 100';
	src: url('../fonts/MuseoSansCyrl-100.eot');
	src: local('MuseoSansCyrl-100'),
		url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/*Fonts End*/
/*Specification Start*/

body {
	padding: 0;
	margin: 0;
	color: #414141;
	background: #fff;
	font-size: 17px;
	line-height: 1.2em;
	letter-spacing: 0.06em;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
}

div,
p,
a,
span {
	box-sizing: border-box;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	line-height: 1.2em;
	letter-spacing: 0.06em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	line-height: 1.15em;
	letter-spacing: 0.06em;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 40px;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	line-height: 1.2em;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 21px;
}

h6 {
	font-size: 13px;
}

a {
	display: block;
	color: #414141;
	letter-spacing: 0.06em;
}

a,
a:hover,
a:active  {
	transition: all 0.6s ease;
	text-decoration: none;
}

input:focus,
input,
input:hover,
input:active,
button:focus,
button,
button:hover,
button:active {
	outline: none;
}

.btn:focus {
	box-shadow: none;
}

.container {
	max-width: 1435px;
	width: 100%;
	margin: 0 auto;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.title-small {
	font-size: 28px;
	display: block;
	text-transform: none;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
}

.btn {
	color: #fff;
	background: #fe3a26;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid transparent;
}

.btn:hover {
	border: 2px solid #fe3a26;
	background: transparent;
	color: #fe3a26;
}

/*Specification End*/
/*Header Start*/

.header {
	padding-top: 70px;
	background: url(../img/header-img.jpg) no-repeat right bottom;
}

.header__navigation {
	justify-content: space-between;
}

.header__logo {
	color: #595959;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	width: 200px;
	background: url(../img/logo.png) no-repeat left top;
	line-height: 1em;
	padding: 12px 0 0 40px;
}

.header__links {
	width: 100%;
	max-width: 400px;
	text-transform: uppercase;
	justify-content: space-between;
	padding: 4px 0 0 30px;
}

.heater__price {
	position: relative;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
}

.heater__price:after {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	background: #fe695a;
	left: -20px;
	width: 100%;
	max-width: 0;
	bottom: 0;
	transition: all 0.6s ease;
}

.heater__price:hover::after {
	max-width: 47px;
}

.heater__price:hover {
	color: #fe3a26;
}

.header__tel {
	position: relative;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	font-size: 20px;
}

.header__tel svg {
	fill: #414141;
	transition: all 0.6s ease;
}

.header__tel:after {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	background: #fe695a;
	left: -20px;
	width: 100%;
	max-width: 0;
	bottom: 0;
	transition: all 0.6s ease;
}

.header__tel:hover::after {
	max-width: 47px;
}

.header__tel:hover svg{
	fill: #fe3a26;
}

.header__tel:hover {
	color: #fe3a26;
}

.header__info {
	padding-top: 100px;
}

.header__title {
	font-family: 'Museo Sans Cyrl 500', sans-serif;
	text-transform: uppercase;
	width: 640px;
}

.header__title-small {
	font-family: 'Museo Sans Cyrl 100', sans-serif;
	font-size: 30px;
	color: #4f4d4d;
}

.header__text {
	width: 500px;
	position: relative;
	margin: 47px 0 55px 100px;
	font-size: 26px;
	color: #000;
}

.header__text:before {
	content: '';
	display: block;
	position: absolute;
	left: -98px;
	top: 16px;
	width: 78px;
	height: 2px;
	background: #9a9a9a;
}

.header__btn {
	width: 235px;
	height: 59px;
	margin-left: 102px;
	line-height: 59px;
}

.header__location {
	margin-top: 200px;
	font-size: 20px;
	padding-left: 4px;
	font-family: 'Museo Sans Cyrl 500', sans-serif;
}

.header__location:before {
	content: '';
	display: inline-block;
	width: 13px;
	height: 18px;
	background: url(../img/icons.png) no-repeat left top;
}
/*Header End*/

/*Project section Start*/

.projects {
	padding: 125px 0;
	color: #414141;
	position: relative;
	overflow-x: hidden;
}

.projects__title {
	margin-bottom: 73px;
	font-size: 40px;
	text-transform: uppercase;
}

.projects__slider-wrap {
	position: relative;
}

.projects__room-slider {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}


.projects__button {
	position: absolute;
	top: 55%;
	height: 30px;
	width: 16px;
	cursor: pointer;
	outline: none;
    border: none;
}

.projects__left-button {
	left: -40px;
	background: url(../img/icons.png) no-repeat right top;
}

.projects__right-button {
	right: -40px;
	background: url(../img/icons.png) no-repeat right -21px top;
}

/*modal*/

.projects__modal-window {
	position: fixed;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.projects__modal-window:before {
	content: '';
	display: block;
	background: rgba(0, 0, 0, 0.7);
	top: -1000px;
	right: -1000px;
	bottom: -1000px;
	left: -1000px;
	width: 1000vw;
	height: 1000vh;
	position: fixed;
	z-index: 0;
}

.projects__modal-image {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

/*-about-block-*/
.projects__tile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-basis: 946px;
}

.projects__title-info {
	font-size: 22px;
}

.projects__location {
	margin: 40px 0 25px 0;
	font-size: 20px;
}

.projects__square {
	display: block;
	font-size: 22px;
}
/**/
.projects__info {
	flex-basis: 545px;
	background: #fafafa;
	margin-right: 30px;
	padding-top: 80px;
	padding-left: 45px;
}
/**/

.projects__image_small {
	flex-basis: 383px;
}
.projects__image_large {
	flex: 1 1 946px;
	margin-top: 30px;
}

.projects__info_wrapper {
	display: flex;
	justify-content: space-between;
	flex-basis: 946px;
}

/**/
.projects__price-card {
	flex-basis: 460px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.price-card__image {
	margin-bottom: 25px;
}
.price-card__button {}

.projects__image_small,
.projects__image_large,
.price-card__image {
	/*display: block;*/
	width: 100%;
	height: auto;
}
/*Project section End*/

/*Offers Start*/

.offers {
	padding-bottom: 130px;
}

.offers__title {
	text-transform: uppercase;
}

.offers__cards {
	justify-content: space-between;
	margin-top: 70px;
	text-align: center;
	color: #fff;
}

.offers__card {
	padding: 110px 40px;
}

.offers__card_nothing {
	background: url(../img/price-1.jpg) no-repeat center center / cover;
}

.offers__card_econom {
	background: url(../img/price-2.jpg) no-repeat center center / cover;
}

.offers__card_standart {
	background: url(../img/price-3.jpg) no-repeat center center / cover;
}

.offers__card_lux {
	background: url(../img/price-4.jpg) no-repeat center center / cover;
}

.offers__card-blur {
	width: 270px;
	padding: 35px 0 40px;
}

.offers__card-blur_nothing {
	background: rgba(0, 0, 0, 0.2) url(../img/blur-1.png) no-repeat center center / cover;
}

.offers__card-blur_econom {
	background: rgba(0, 0, 0, 0.2) url(../img/blur-2.png) no-repeat center center / cover;
}

.offers__card-blur_standart {
	background: rgba(0, 0, 0, 0.2) url(../img/blur-3.png) no-repeat center center / cover;
}

.offers__card-blur_lux {
	background: rgba(0, 0, 0, 0.2) url(../img/blur-4.png) no-repeat center center / cover;
}

.offers__name {
	font-size: 28px;
	text-transform: uppercase;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
}

.offers__name::after {
	content: '';
	display: block;
	width: 69px;
	height: 1px;
	background: #e3e3e3;
	margin: 20px auto;
}

.offers__pice {
	font-size: 22px;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
}

.offers__pice span {
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
}

/*Offers End*/

/*Кeyframes Start*/
@keyframes fade-right {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-150%);
		opacity: 0;
	}

	60% {
		transform: translateX(150%);
		opacity: 0
	}

	70% {
		transform: translateX(150%);
		opacity: 1
	}


	100% {
		transform: translateX(0%);
	}
}

@keyframes fade-left {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(150%);
		opacity: 0;
	}

	60% {
		transform: translateX(-150%);
		opacity: 0
	}

	70% {
		transform: translateX(-150%);
		opacity: 1
	}


	100% {
		transform: translateX(0%);
	}
}
/*Кeyframes End*/