Fonts Start*/

@font-face {
	font-family: 'Museo Sans Cyrl 900';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: local('MuseoSansCyrl-900'),
		url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: local('MuseoSansCyrl-700'),
		url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('../fonts/MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
		url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: local('MuseoSansCyrl-300'),
		url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Museo Sans Cyrl 100';
	src: url('../fonts/MuseoSansCyrl-100.eot');
	src: local('MuseoSansCyrl-100'),
		url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/*Fonts End*/
/*Specification Start*/

body {
	padding: 0;
	margin: 0;
	color: #414141;
	background: #fff;
	font-size: 17px;
	line-height: 1.2em;
	letter-spacing: 0.06em;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
}

div,
p,
a,
span {
	box-sizing: border-box;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	line-height: 1.2em;
	letter-spacing: 0.06em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	line-height: 1.15em;
	letter-spacing: 0.06em;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 40px;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	line-height: 1.2em;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 13px;
}

a {
	display: block;
	color: #414141;
	letter-spacing: 0.06em;
}

a,
a:hover,
a:active  {
	transition: all 0.6s ease;
	text-decoration: none;
}

input:focus,
input,
input:hover,
input:active,
button:focus,
button,
button:hover,
button:active {
	outline: none;
}

.btn:focus {
	box-shadow: none;
}

.container {
	max-width: 1435px;
	width: 100%;
	margin: 0 auto;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.title-small {
	font-size: 28px;
	display: block;
	text-transform: none;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
}

.btn {
	color: #fff;
	background: #fe3a26;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid transparent;
	transition: all 0.6s ease;
}

.btn:hover {
	border: 2px solid #fe3a26;
	background: transparent;
	color: #fe3a26;
	cursor: pointer;
}
.btn:active {
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);	
}

/*Specification End*/
/*Header Start*/

.header {
	padding-top: 70px;
	background: url(../img/header-img.jpg) no-repeat right bottom;
}

.header__navigation {
	justify-content: space-between;
}

.header__logo {
	color: #595959;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	width: 200px;
	background: url(../img/logo.png) no-repeat left top;
	line-height: 1em;
	padding: 12px 0 0 40px;
}

.header__links {
	width: 100%;
	max-width: 400px;
	text-transform: uppercase;
	justify-content: space-between;
	padding: 4px 0 0 30px;
}

.heater__price {
	position: relative;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
}

.heater__price:after {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	background: #fe695a;
	left: -20px;
	width: 100%;
	max-width: 0;
	bottom: 0;
	transition: all 0.6s ease;
}

.heater__price:hover::after {
	max-width: 47px;
}

.heater__price:hover {
	color: #fe3a26;
}

.header__tel {
	position: relative;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	font-size: 20px;
}

.header__tel svg {
	fill: #414141;
	transition: all 0.6s ease;
}

.header__tel:after {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	background: #fe695a;
	left: -20px;
	width: 100%;
	max-width: 0;
	bottom: 0;
	transition: all 0.6s ease;
}

.header__tel:hover::after {
	max-width: 47px;
}

.header__tel:hover svg{
	fill: #fe3a26;
}

.header__tel:hover {
	color: #fe3a26;
}

.header__info {
	padding-top: 100px;
}

.header__title {
	font-family: 'Museo Sans Cyrl 500', sans-serif;
	text-transform: uppercase;
	width: 640px;
}

.header__title-small {
	font-family: 'Museo Sans Cyrl 100', sans-serif;
	font-size: 30px;
	color: #4f4d4d;
}

.header__text {
	width: 500px;
	position: relative;
	margin: 47px 0 55px 100px;
	font-size: 26px;
	color: #000;
}

.header__text:before {
	content: '';
	display: block;
	position: absolute;
	left: -98px;
	top: 16px;
	width: 78px;
	height: 2px;
	background: #9a9a9a;
}

.header__btn {
	width: 235px;
	height: 59px;
	margin-left: 102px;
	line-height: 59px;
}

.header__location {
	margin-top: 200px;
	font-size: 20px;
	padding-left: 4px;
	font-family: 'Museo Sans Cyrl 500', sans-serif;
}

.header__location:before {
	content: '';
	display: inline-block;
	width: 13px;
	height: 18px;
	background: url(../img/icons.png) no-repeat left top;
}
/*Header End*/

/*Project section Start*/

.projects {
	padding: 125px 0;
	color: #414141;
	position: relative;
	overflow-x: hidden;
}

.projects__title {
	margin-bottom: 73px;
	font-size: 40px;
	text-transform: uppercase;
}

.projects__slider-wrap {
	position: relative;
}

.projects__room-slider {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}


.projects__button {
	position: absolute;
	top: 55%;
	height: 30px;
	width: 16px;
	cursor: pointer;
	outline: none;
    border: none;
}

.projects__left-button {
	left: -40px;
	background: url(../img/icons.png) no-repeat right top;
}

.projects__right-button {
	right: -40px;
	background: url(../img/icons.png) no-repeat right -21px top;
}

/*modal*/

.projects__modal-window {
	position: fixed;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.projects__modal-window:before {
	content: '';
	display: block;
	background: rgba(0, 0, 0, 0.7);
	top: -1000px;
	right: -1000px;
	bottom: -1000px;
	left: -1000px;
	width: 1000vw;
	height: 1000vh;
	position: fixed;
	z-index: 0;
}

.projects__modal-image {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

/*-about-block-*/
.projects__tile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-basis: 946px;
}

.projects__title-info {
	font-size: 22px;
}

.projects__location {
	margin: 40px 0 25px 0;
	font-size: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.projects__location::before {
	content: '';
	display: block;
	width: 13px;
	height: 18px;
	margin: 3px 5px 0 0;
	background: url(../img/icons.png) no-repeat left top;
}

.projects__square {
    display: inline-block;
    font-size: 22px;
    position: relative;
}

.projects__square::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    background: url(../img/icons.png) no-repeat left -23px top;
}

.projects__info {
	flex-basis: 545px;
	background: #fafafa;
	margin-right: 30px;
	padding-top: 80px;
	padding-left: 45px;
}
/**/

.projects__image_small {
	flex-basis: 383px;
}
.projects__image_large {
	flex: 1 1 946px;
	margin-top: 30px;
}

.projects__info_wrapper {
	display: flex;
	justify-content: space-between;
	flex-basis: 946px;
}

/**/
.projects__price-card {
	flex-basis: 460px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.price-card__image {
	margin-bottom: 25px;
}
.price-card__button {
	width: 100%;
	height: 89px;
	line-height: 85px;
}

.projects__image_small,
.projects__image_large,
.price-card__image {
	/*display: block;*/
	width: 100%;
	height: auto;
}
/*Project section End*/

/*Offers Start*/

.offers {
	padding-bottom: 120px;
}

.offers__title {
	text-transform: uppercase;
}

.offers__cards {
	justify-content: space-between;
	margin-top: 70px;
	text-align: center;
	color: #fff;
}

.offers__card {
	padding: 110px 40px;
}

.offers__card_nothing {
	background: url(../img/price-1.jpg) no-repeat center center / cover;
}

.offers__card_econom {
	background: url(../img/price-2.jpg) no-repeat center center / cover;
}

.offers__card_standart {
	background: url(../img/price-3.jpg) no-repeat center center / cover;
}

.offers__card_lux {
	background: url(../img/price-4.jpg) no-repeat center center / cover;
}

.offers__card-blur {
	width: 270px;
	padding: 35px 0 40px;
}

.offers__card-blur_nothing {
	background: rgba(0, 0, 0, 0.2) url(../img/blur-1.png) no-repeat center center / cover;
}

.offers__card-blur_econom {
	background: rgba(0, 0, 0, 0.2) url(../img/blur-2.png) no-repeat center center / cover;
}

.offers__card-blur_standart {
	background: rgba(0, 0, 0, 0.2) url(../img/blur-3.png) no-repeat center center / cover;
}

.offers__card-blur_lux {
	background: rgba(0, 0, 0, 0.2) url(../img/blur-4.png) no-repeat center center / cover;
}

.offers__name {
	font-size: 28px;
	text-transform: uppercase;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
}

.offers__name::after {
	content: '';
	display: block;
	width: 69px;
	height: 1px;
	background: #e3e3e3;
	margin: 20px auto;
}

.offers__pice {
	font-size: 22px;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
}

.offers__pice span {
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
}

/*Offers End*/
/*Excellences Start*/

.excellences {
	padding-bottom: 110px;
}

.excellences__title {

}

.excellences__items {

}

.excellences__texts {
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	margin-top: 45px;
}

.excellences__text {
	font-size: 120px;
	text-transform: uppercase;
	margin-right: 20px;
	padding: 50px 0;
	background: url(../img/excelences.jpg) no-repeat left 55% center / 180%;
	-webkit-background-clip:text;
	background-clip:text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
}

.excellences__text-block {
	font-size: 20px;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
}

.excellences__text-top {
    margin-bottom: 8px;
}

.excellences__text-midle {
    margin-bottom: 8px;
}

.excellences__text-bottom {
    margin-bottom: 8px;
}

.excellences__skills {
	justify-content: space-evenly;
	width: 100%;
	padding: 9px 0 0 140px;
}

.excellences__skill {
	text-transform: uppercase;
	width: 180px;
	font-size: 22px;
	position: relative;
	padding-left: 10px;
}	

.excellences__skill_experience:before,
.excellences__skill_guarantee:before,
.excellences__skill_design:before {
	content: '';
	position: absolute;
	display: block;
	position: absolute;
	left: -50px;
	top: 0;
	width: 42px;
	height: 42px;
	margin-top: 4px;
}

.excellences__skill_experience:before {
	background: url(../img/icons.png) no-repeat left -64px top;
}

.excellences__skill_guarantee:before {
	background: url(../img/icons.png) no-repeat left -150px top 1px;
}

.excellences__skill_design:before {
	background: url(../img/icons.png) no-repeat left -245px top 1px;
}
/*Excellences End*/

/*Preview Start*/

.preview {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.preview-wrap__title {
	margin-bottom: 85px;
}

.preview__right-button {
	left: 74%;
	background: url(../img/icons.png) no-repeat right -21px top;
	position: absolute;
	top: 48%;
	height: 30px;
	width: 16px;
	cursor: pointer;
	outline: none;
	border: none;
	opacity: 0.47;
	z-index: 3;
}

.preview__arias {
	flex-basis: 340px;
}
.preview__area {
	display: block;
	position: relative;
	padding: 12.5px;
	cursor: pointer;
}

.preview__area::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 0px;
	height: 2px;
	background: #b6f1f6;
	transition: all 0.6s ease;
}

.preview__gallery_checked::after {
	width: 46px;
}

.preview__images {
	flex-basis: 1350px;
	position: relative;
	height: 730px;
	transition: 1s;
}

.preview__back-image {
	display: block;
	height: 665px;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 1;
	width: 100%;
	background-position: center !important;
	background-size: cover !important;
	transition: 1s;
	filter: blur(3px);
}
.preview__front-image {
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	height: 730px;
	width: 94%;
	position: absolute;
	background-position: center !important;
	background-size: cover !important;
	transition: 1s;
}

/*Preview End*/
/*Offer Start*/

.offer {
	padding: 128px 0 21px;
}

.offer__title {
	margin-bottom: 110px;
	text-transform: uppercase;
}

.offer__cards {
	justify-content: space-between;
	flex-wrap: wrap;
}

.offer__card {
	width: 510px;
	padding-left: 50px;
	position: relative;
	z-index: 2;
}

.offer__card_small {
	width: 490px;
	margin-right: 52px;
}

.offer__card::before {
	content: '';
	display: block;
	position: absolute;
	width: 68px;
	height: 63px;
	background: #fff;
	border: 5px solid #cdf5f9;
	z-index: -1;
	left: 25px;
	top: -25px;
}

.offer__name {
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	margin: 0 0 10px;
}

.offer__name_free {
	margin-bottom: 35px;
}

.offer__text {
	font-size: 18px;
	margin-bottom: 120px;
	line-height: 1.3em;
}

/*Offer End*/
/*Master Start*/

.master {
	background: url(../img/form.jpg) no-repeat right center;
	box-shadow: 0px 0px 57px 0px rgba(0, 0, 1, 0.1);
}

.master__wrap {
 width: 100%;
 padding: 160px 0 180px;
 max-width: 845px;
 background: #fff;
}

.master__title {
	text-transform: uppercase;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	margin-bottom: 65px;
}

.small-form {
	width: 760px;
	justify-content: space-between;
}

.small-form__input {
	width: 261px;
	border: none;
	border-bottom: 1px solid #a0a0a0;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	letter-spacing: 0.06em;
	font-size: 17px;
	opacity: 0.5;
	padding-top: 15px;
}

.small-form__input_name {

}

.small-form__input_tel {

}

.small-form__btn {
	width: 178px;
	height: 45px;
	line-height: 43px;
	font-size: 17px;
}

/*Master End*/
/*Stages Start*/

.stages {
	padding-top: 150px;
}

.stages__title {
	text-transform: uppercase;
}

.stages__items {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 65px;
}

.stages__item {
	width: 330px;
	padding: 35px 0 25px 45px;
	margin-bottom: 55px;
	position: relative;
	z-index: 3;
}

.stages__item_1::before,
.stages__item_2::before,
.stages__item_3::before,
.stages__item_4::before,
.stages__item_5::before,
.stages__item_6::before {
	position: absolute;
	left: -5px;
	top: 65px;
	display: block;
	font-size: 180px;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	color: #c4eff5;
	z-index: -1;
}

.stages__item_1::before {
	content: '1';
}

.stages__item_2::before {
	content: '2';
}

.stages__item_3::before {
	content: '3';
}

.stages__item_4::before {
	content: '4';
}

.stages__item_5::before {
	content: '5';
}

.stages__item_6::before {
	content: '6';
}

.stages__name {
	margin-bottom: 10px;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
}

.stages__text {
	width: 290px;
}

/*Stages End*/
/*Materials Start*/

.materials {
    padding: 83px 0;
    background: url(../img/materials.png) no-repeat top 90% right 240px;
}

.materials__title {
	text-transform: uppercase;
}

.materials__text {
	width: 425px;
	position: relative;
	margin: 10px 0 89px 70px;
}

.materials__text::before {
	content: '';
	display: block;
	position: absolute;
	left: -70px;
	top: 10px;
	width: 60px;
	height: 1px;
	background: #c0c0c0;
}

.materials__list {
	width: 850px;
	justify-content: space-between;
}

.materials__item {
	text-transform: uppercase;
}

.materials__item_materials .materials__name{
	width: 230px;
}

.materials__item_price .materials__name {
	width: 105px;
}

.materials__item_choice .materials__name {
	width: 250px;
}

.materials__item_materials::before,
.materials__item_price::before,
.materials__item_choice::before {
	content: '';
	display: block;
	margin-right: 5px;
}

.materials__item_materials::before {
	width: 40px;
	height: 42px;
	background: url(../img/icons.png) no-repeat left -325px top;
}

.materials__item_price::before {
	width: 45px;
	height: 34px;
	margin-top: 3px;
	background: url(../img/icons.png) no-repeat left -408px top;
}

.materials__item_choice::before {
	width: 36px;
	height: 36px;
	margin-top: 2px;
	background: url(../img/icons.png) no-repeat left -499px top;
}

.materials__price {
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	font-size: 22px;
	margin: 83px 0 30px;
}

/*Materials End*/
/*Feedback Start*/
.feedback {
	background: url(../img/feedback-bg.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.feedback::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 129px;
	z-index: 6;
	background: url(../img/figure.png) no-repeat center top / cover;
}

.feedback__container {
	padding: 245px 0 100px 0;
	position: relative;
}

.feedback__container::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	width: 1120px;
	height: 100%;
	left: 0;
	top: 0;
	margin-left: -86px;
	background: url(../img/feedback-blur.png) no-repeat center center / 140%;
}

.feedback__container::after {
	content: '';
	display: block;
	position: absolute;
	z-index: 2;
	width: 1120px;
	height: 100%;
	left: 0;
	top: 0;
	margin-left: -86px;
	background: rgba(255, 255, 255, 0.52);
}

.feedback__title {
	position: relative;
	z-index: 4;
}

.feedback__wrapper {
	position: relative;
	z-index: 4;
}

.feedback__reviews {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1035px;
	margin-top: 55px;
}

/*news*/
.feedback__info {
	padding: 35px 75px 45px 40px;
	background: #fff;
	flex-basis: 270px;
}

.feedback__name {
	margin-bottom: 20px;
	color: #4ce0ec;
	font-size: 26px;
}

.feedback__date {
	color: #414141;
	font-size: 17px;
}

/*comment*/
.feedback__text {
	align-self: flex-end;
	margin-left: 45px;
	padding-bottom: 17px;
    max-width: 700px;
}

.feedback__persons-name {
	position: relative;
	font-size: 22px;
	color: #414141;
	margin-bottom: 35px;
}


.feedback__persons-name::after {
	content: '';
	position: absolute;
	left: 3px;
	bottom: -17px;
	width: 70px;
	border-bottom: 1px solid #bab0ab;
}

.feedback__persons-comment {
	font-size: 17px;
	color: #414141;
}

/*buttons*/

.feedback__pointers_wrapper {
	max-width: 265px;
	margin-top: 55px;
}

.feedback__pointers {
	display: flex;
	justify-content: space-between;
}

.feedback__pointer {
	position: relative;
	background: #414141;
	width: 10px;
	height: 10px;
	display: inline-block;
	cursor: pointer;
}

.feedback__pointer:not(:first-child)::before {
	content: '';
	position: absolute;
	left: -50px;
	top: 5px;
	border-bottom: 1px solid #bab0ab;
	width: 25px;
}

.feedback__gallery_checked {
	outline: 7px solid #6fcdd4;
}
/*Feedback End*/
/*Design Start*/

.design {
	padding: 130px 0;
	background: #fff;
	position: relative;
	box-sizing: border-box;
}
.design__title {}

.design__wrapper {
	display: flex;
	z-index: 1;
	position: relative;
	/*margin-bottom: 130px;*/
}
.design__demo-section {
	flex-basis: 860px;
	margin-top: 75px;
}

.design__elements {
	padding-top: 75px;
	display: inline-block;
}

.design__elements:not(:first-child) {
	margin-top: 25px;
}

.design__elements_materials {
	padding-right: 194px;
	background: url(../img/design/design-1.jpg) center center no-repeat;
	background-size: cover;
}

.design__elements_style {
	padding-right: 187px;
	background: url(../img/design/design-2.jpg) center center no-repeat;
	background-size: cover;
}

.design__elements_art {
	padding-right: 150px;
	background: url(../img/design/design-3.jpg) center center no-repeat;
	background-size: cover;
}

/*design elements*/
.elements__container {
	padding-left: 12.7%;
	padding-top: 22px;
	padding-right: 50px;
	padding: 22px 50px 35px 244px; /*244px => 12.7%*/
	background: rgba(0, 0, 0, 0.7);
}

.elements__title {
	font-size: 22px;
	color: rgb(255, 254, 254);
	font-family: "Museo Sans Cyrl 700";
}

.elements__list {
	display: flex;
	margin-top: 20px;
	justify-content: flex-start;
	font-size: 17px;
	font-family: "Museo Sans Cyrl 300";
	color: rgb(254, 254, 254);
	text-transform: uppercase;
}
.elements__item {
	position: relative;
	text-transform: uppercase;
	white-space: nowrap;
	color: #fffefe;
	font-size: 16.9px;
	cursor: pointer;
}

.elements__item::after {
  content: '';
  position: absolute;
  left: -2px;
  bottom: -6px;
  width: 30px;
  border-bottom: 1px solid #fff;
}

.elements__item:not(:first-child) {
	margin-left: 35px;
}

.design__image {
	position: absolute;
	background: url(../img/couch.png) right center no-repeat;
	background-size: contain;
	right: 0;
	top: 160px;
	height: 750px;
	width: 860px;
	z-index: 0;
}

/*acctive from design section*/

.stone-active-lg {
	background: blue;
}
.stone-active-sm {
	background: gray;
}

.tree-active-lg {
	background: orange;
}
.tree-active-sm {
	background: green
}

/*etc...*/

/*Design End*/
/*Contacts Start*/

.contacts {
	margin-top: 10px;
}

.contacts__container {
	justify-content: space-between;
	padding-bottom: 125px;
}

.contacts__content {
	flex-basis: 880px;
}

.contacts__data {
	justify-content: space-between;
	margin-top: 105px;
}

.contacts__connection {
	flex-basis: 460px;
}

.contacts__data_title {
	margin-bottom: 25px;
	font-size: 22px;
	font-family: "Museo Sans Cyrl 700";
	color: rgba(65, 65, 65, 0.702);
}

.contacts__data_info {
	font-size: 20px;
	font-family: "Museo Sans Cyrl 900";
	color: rgb(65, 65, 65);
}

.contacts__call {
	position: relative;
	flex-basis: 205px;
	padding-left: 25px;
}

.contacts__call::before {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	width: 19px;
	height: 19px;
	background: url(../img/icons.png) 80% 0% no-repeat;
	background-size: 5000%;
}

.contacts__mail {
	position: relative;
	padding-left: 25px;
	flex-basis: 295px;
}

.contacts__mail::before {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	width: 21px;
	height: 15px;
	background: url(../img/icons.png) 87.5% 0% no-repeat;
	background-size: 3500%;
}

.contacts__location {
	position: relative;
	padding-left: 25px;
	flex-basis: 305px;
}

.contacts__location::before {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	height: 18px;
	width: 16px;
	background: url(../img/icons.png) 92.7% 0% no-repeat;
	background-size: 5100%;
}

.connection {
	padding: 60px 65px 83px 60px;
	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 0px 27px 0px rgba(0, 1, 5, 0.08);
}

.connection__title {
	font-size: 28px;
	color: rgb(65, 65, 65);
	font-family: "Museo Sans Cyrl 900";
}

.connection__info {
	margin-top: 20px;
	margin-bottom: 45px;
	font-size: 17px;
	font-family: "Museo Sans Cyrl 300";
	color: rgba(65, 65, 65, 0.322);
}

.connection__get {
	display: block;
	margin-bottom: 45px;
	padding-bottom: 10px;
	border: 0;
	border-bottom: 1px solid rgb(255, 255, 255);
	width: 100%;
	font-size: 17px;
	font-family: "Museo Sans Cyrl 700";
	color: rgba(65, 65, 65, 0.502);
	box-shadow: 0px 1px 0px 0px rgba(0, 1, 5, 0.08);
}

.connection__button {
	display: block;
	width: 100%;
	padding: 25px 0;
	font-family: "Museo Sans Cyrl 700";
	font-size: 17px;
	color: #fff;
}

/*Contacts End*/
/*Footer Start*/

.footer {
	background: #414141;
	color: #fff;
	padding: 100px 0 80px 45px;
}

.footer__container {
	justify-content: flex-start;
	align-items: center;
}

.footer__logo {
	width: 34px;
	height: 30px;
	position: relative;
	top: -8px;
	margin-right: 10px;
}

.footer__logo-text {
	font-size: 18px;
	font-family: "Museo Sans Cyrl 700";
	color: #c6c6c6;
	text-transform: uppercase;
	margin-right: 50px;
}

.footer__copyright {
	font-size: 15px;
	font-family: "Museo Sans Cyrl 300";
	color: #fff;
}

.footer__tel {
	position: relative;
	padding-bottom: 5px;
	margin-left: auto;
	font-size: 20px;
	font-family: "Museo Sans Cyrl 900";
	color: #fff;
	text-transform: uppercase;
}
.footer__tel svg {
	fill: #fff;
	transition: all 0.6s ease;
}

.footer__tel:after {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	background: #fe3a26;
	left: -20px;
	width: 100%;
	max-width: 0;
	bottom: 0;
	transition: all 0.6s ease;
}

.footer__tel:hover::after {
	max-width: 47px;
}

.footer__tel:hover svg{
	fill: #fe3a26;
}

.footer__tel:hover {
	color: #fe3a26;
}

/*Footer End*/
/*Modals-form Start*/

/*modal jobs-sec*/

.job-types {
	display: none;
	padding: 77px 70px 135px 60px;
	max-width: 600px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 27px 0px rgba(0, 1, 5, 0.08);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
}

.job-types__discover {
	margin-top: 80px;
	margin-bottom: 35px;
}

.job-types__title {
	margin-left: 55px;
}

.job-types__value {
	position: absolute;
	width: 100px;
	height: 60px;
	top: 80px;
	left: 60px;
	font-size: 78px;
	font-family: "Museo Sans Cyrl 900";
	color: rgba(67, 67, 67, 0.349);
}

.job-types__get-data {
	justify-content: space-between;
}

.job-types__get-data label {
	display: block;
	width: 240px;;
}

.job-types__get-number {
	padding: 15px 20px;
	border: none;
	font-size: 17px;
	border-bottom: 1px solid rgb(102, 102, 102);
	color: rgba(65, 65, 65, 0.502);
	font-family: "Museo Sans Cyrl 700";
}

.job-types__button {
	border-width: 1px;
	border-color: rgb(102, 102, 102);
	border-style: solid;
	padding: 15px 20px;
	background: #fff;
	text-transform: uppercase;
	font-size: 17px;
	color: rgb(102, 102, 102);
	font-family: "Museo Sans Cyrl 700";
	margin-left: 15px;
	display: block;
	cursor: pointer;
	transition: .6s;
}

.job-types_open {
	display: block;
}

.job-types__button:hover {
	background: #fe3a26;
	color: #fff;
	border-color: #fff;
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.91);
    overflow: hidden;
    display: none;
    z-index: 1000;
}

.form__label {
	position: relative;
}

label.error {
    font-size: 12px;
    color: red;
    position: absolute;
    top: -45px;
    left: 0;
    width: 240px;
}

.job-types__get-data .form__label .error{
	top: 50px;
}

input.error {
	border: none !important;
    border-bottom: 1px solid red !important;
}

input.valid {
	border: none !important;
    border-bottom: 1px solid green !important;
}

#loader img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 11;
}
#thx {
    padding: 100px 60px;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 27px 0px rgba(0, 1, 5, 0.08);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/*Modals-form End*/
/*Keyframes Start*/
@keyframes fade-right {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-150%);
		opacity: 0;
	}

	60% {
		transform: translateX(150%);
		opacity: 0
	}

	70% {
		transform: translateX(150%);
		opacity: 1
	}


	100% {
		transform: translateX(0%);
	}
}

@keyframes fade-left {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(150%);
		opacity: 0;
	}

	60% {
		transform: translateX(-150%);
		opacity: 0
	}

	70% {
		transform: translateX(-150%);
		opacity: 1
	}


	100% {
		transform: translateX(0%);
	}
}

@keyframes unblur-scale {
	0% {

	}

	30% {
		filter: blur(1.4px);
	}

	55% {
		filter: blur(0);
		top: 0;
		width: 94%;
		height: 730px;
	}

	80% {
		filter: blur(0);
		top: 0;
		width: 94%;
		height: 730px;
	}
}


@keyframes fade-out-left {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(-150%);
		opacity: 0;
		filter: blur(2.4px);
	}

	55% {
		opacity: 0;
		transform: translateX(0);
	}

	60% {
		opacity: 0;
	}

	72% {
		filter: blur(3px);
		opacity: .5;
	}

	75% {
		opacity: 1;
		filter: blur(2.4px);
		transform: translateX(0);
		/*transition: .4s;*/
		opacity: 1;
	}

	88% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		filter: blur(0);
	}
}
/*Keyframes End*/

/* Media Queries  Start*/

/* 1500 - 1700 px */
@media screen and (max-width: 1700px) {
	.header {
		background: url(../img/header-img.jpg) no-repeat right bottom / 850px;
	}
	.design__image {
		background: url(../img/couch.png) right -360px center no-repeat;
	}
}
/* 1200 - 1500 px */
@media screen and (max-width: 1500px) {
	.container {
		max-width: 1170px;
	}
	.offers__cards {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.offers__card {
		margin: 0 50px 50px;
	}
	.header {
		background: url(../img/header-img.jpg) no-repeat right bottom / 650px;
	}
	.projects__price-card {
		padding-left: 30px;
	}
	.projects__tile {
	    flex-basis: 850px;
	}
	.preview__front-image {
	    height: 640px;
    	width: 88%;
	}
	.preview__back-image {
	    width: 92%;
	    height: 575px;
	}
	.preview__right-button {
		left: 78%;
	}
	.preview__arias {
    	flex-basis: 280px;
	}
	.master {
	    background: url(../img/form.jpg) no-repeat right -200px center;
	}
	.materials {
        background: url(../img/materials.png) no-repeat top 80% right 20px / 350px;
	}
	.feedback__container::before,
	.feedback__container::after {
		width: 1050px;
	}
	.feedback__text {
		margin-right: auto;
		padding-left: 10px;
	}
	.feedback__persons-comment {
	    width: 600px;
	}
	.design__image {
		background: url(../img/couch.png) right -650px center no-repeat;
	}
	.contacts__mail,
	.contacts__call,
	.contacts__location {
	    margin-right: 10px;
	    flex-basis: 120px;
	}
	.contacts__data {
	    margin-top: 75px;
	    flex-direction: column;
	}
	.contacts__location::before {
		left: 5px;
	}
}

/* 992 - 1200 px */
@media screen and (max-width: 1200px) {

}

/* 768 - 992 px */
@media screen and (max-width: 992px) {
	
}

/* 576 - 768 px */
@media screen and (max-width: 768px) {
	
}

/* 320 - 576 px */
@media screen and (max-width: 576px) {
	
}

/* Media Queries End*/