.preview {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.preview__right-button {
	left: 75%;
    background: url(../img/icons.png) no-repeat right -21px top;
	position: absolute;
    top: 55%;
    height: 30px;
    width: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 3;
}

.preview__arias {
	flex-basis: 175px;
}
.preview__area {
	display: block;
	padding: 12.5px;
	cursor: pointer;
}

.preview__images {
	flex-basis: 1350px;
	position: relative;
	height: 730px;
	transition: 1s;
}

.preview__back-image {
	display: block;
	height: 665px;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 1;
	width: 100%;
	background-position: center !important;
	background-size: cover !important;
	transition: 1s;
	filter: blur(3px);
}
.preview__front-image {
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	height: 730px;
	width: 94%;
	position: absolute;
	background-position: center !important;
	background-size: cover !important;
	transition: 1s;
}

.preview__gallery_checked {
	border-bottom: 2px solid lightgreen;
}


@keyframes in-right {


	0% {
		transform: translateX(-50%);
		opacity: 0;
	}

/*	80% {
		transform: translateX(-30%);
		opacity: 1;
	}*/

	100% {
		transform: translateX(0);
	}
}

