.projects {
	padding: 135px 0;
	color: #414141;
}

.projects__subtitle {
	font-size: 28px;
}

.projects__title {
	margin-bottom: 73px;
	font-size: 40px;
	text-transform: uppercase;
}

.projects__room-slider {
	display: flex;
}

/**/
.projects__tile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-basis: 946px;
	padding-right: 30px;
}

.projects__title-info {
	font-size: 22px;
}

.projects__location {
	margin: 40px 0 25px 0;
	font-size: 20px;
}

.projects__square {
	display: block;
	font-size: 22px;
}
/**/
.projects__info {
	flex-basis: 545px;
	background: #fafafa;
	margin-right: 30px;
	padding-top: 80px;
	padding-left: 45px;
}
/**/

.projects__image_small {
	flex-basis: 383px;
}
.projects__image_large {
	flex: 1 1 946px;
	margin-top: 30px;
}

.projects__info_wrapper {
	display: flex;
	justify-content: space-between;
	flex-basis: 946px;
}

/**/
.projects__price-card {
	flex-basis: 460px;
	display: flex;
	flex-direction: column;
	/*justify-content: flex-end;*/
	align-items: center;
}

.price-card__image {
	margin-bottom: 25px;
}
.price-card__button {}

.projects__image_small,
.projects__image_large,
.price-card__image {
	/*display: block;*/
	width: 100%;
	height: auto;
}